* {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*establecer la fuente o tipo de letra que se aplicará al texto de un elemento*/
    box-sizing: border-box;
}

header{
    background-color:#547E8F; /* Establece el color de fondo del elemento.*/
    background-image: url('../images/iStock-617775558.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position: center bottom;
    height: 400px;   
}

.header-profile-picture img {
    position: absolute;
    margin-top: 20px;  
    border: solid 1px #D6790D;
    height: 240px;
    top: 150px;
    right: 200px;
        
    }

.header-container-name{
    position: relative;
    background-color:#D6790D;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px;
    top: 400px;
      
}

.main-button-information {
    height: 200px;  
    background-color: #D8EDEF;  
}

.main-button-information nav a{
    width: 100px;
    bottom: 10px;
    padding: 20PX;
    background-color: #6EC1AA;
    color: #000000;
    text-decoration:none;
    border-radius: 5px;  
}
.main-button-information nav li {
    margin-right: 20px;
}
.main-button-information nav ul {
    display: flex;
    list-style-type: none;
    padding: 130px;
}

h2 {
    background-color:#D6790D; 
    font-size: 20px; /*Define el tamaño de la fuente del texto dentro del elemento*/
    letter-spacing: 5px; /*Controla el espacio entre los caracteres del texto dentro del elemento.*/
    line-height: 50px; /*Establece la altura de línea del texto dentro del elemento. */
    color: white; 
    text-align: center;   
    margin-top: 0px; 
    
}
h2 a{
  text-decoration: none;
  color: white;
}
.main-container-personalinformation dl {
    height: 150px;
    text-align: justify;
    margin: 0 auto;
    width: 50%;
    
  }
  .main-container-education dl{
    height: 230px;
    text-align: justify;
    margin: 0 auto;
    width: 50%;
  }
.main-container-experience dl{
    height: 270px;
    text-align: justify;
    margin: 0 auto;
    width: 50%;
}
.main-container-certificates dl{
    height: 140px;
    text-align: justify;
    margin: 0 auto;
    width: 50%;
}

.footer-container-email{
    background-color: #242D5C;;
    font-weight: 700px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footer-container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.footer-container-icons i {
  color: #242D5C;
  font-size: 25px;
  margin: 8px;
}
  
.header-container-aboutme h1{
  background-color:#D6790D; 
  position: relative;
  background-color:#D6790D;
  text-align: center;
  letter-spacing: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.header-container-aboutme a{
  font-size: 20px;
  margin: 40px;
  padding: 20PX;
  background-color: #6EC1AA;
  color: #000000;
  text-decoration:none;
  border-radius: 5px;  
}
  
.main-container-aboutme-information p{
    text-align: justify;
    margin: 0 auto;
    width: 50%; /* Ajusta el valor según la medida deseada */
    
  }
  .footer-container-aboutme-email{
    background-color: #242D5C;;
    font-weight: 700px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footer-container-aboutme-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.footer-container-aboutme-icons i {
  color: #242D5C;
  font-size: 25px;
  margin: 8px;
}