body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*establecer la fuente o tipo de letra que se aplicará al texto de un elemento*/
     
}
main{
    padding:25px 150px;
    background-position: center top;
}
header{
    background-color:#547E8F; /* Establece el color de fondo del elemento.*/
    background-image: url('../images/fondo-negro-engranajes.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 400px;    
    color: aliceblue; /*Define el color del texto dentro del elemento*/
    
}

.imagen1 {
    display: block;
    margin: auto;
    height: 200px;
    padding-top: 100px;
    width: 180px;
    
    }

h1{
    background-color:#27323D;
    height: 80px;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
div{
    padding: 20px;
    background-color: #CAE0D0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
h2 {
    background-color:#27323D; 
    font-size: 20px; /*Define el tamaño de la fuente del texto dentro del elemento*/
    letter-spacing: 5px; /*Controla el espacio entre los caracteres del texto dentro del elemento.*/
    line-height: 50px; /*Establece la altura de línea del texto dentro del elemento. */
    color: white; 
    padding: 0px; /*Establece el espacio de relleno alrededor del contenido del elemento*/
    margin:20px auto; /* Elimina el margen por defecto del h2 */
    text-align: center;
    width: 50%; /* Ajusta el ancho al 50% del contenedor padre */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    
}
footer{
    background-color: #547E8F;;
    font-weight: 700px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}
p{

}

div nav ul li {
    display: inline-block;
    margin:20px auto; 
  }

  h2 ul li{
    margin:auto;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center;
  }
  
  .button {
    text-decoration: none;
    padding: 15px 20px;
    background-color: #728F7A;
    color: #000;
    border-radius: 20px;
  }
  
  p{
    text-align: justify;
    margin: 0 auto;
    width: 50%; /* Ajusta el valor según la medida deseada */
  }
  
  dl dd {
    text-align: justify;
    margin: 0 auto;
    width: 50%; /* Ajusta el valor según la medida deseada */
  }
  